@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: #404040 #171717;
  padding-bottom: 4px;
}

.scrollbar-hide::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #171717;
  border-radius: 5px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 5px;
  margin: 0 8px;
  transition: background 0.2s ease;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #4b5565;
}
/* .scrollbar-hide { */
/*   -ms-overflow-style: none;  */
/*   scrollbar-width: none;  */
/* } */
/**/
/* .scrollbar-hide::-webkit-scrollbar { */
/*   display: none;  */
/* } */
